@import url("https://fonts.googleapis.com/css2?family=Manrope:wght@300;400;500;600;700;800&display=swap");

body,
html {
    overflow-x: hidden;
    scroll-behavior: smooth;
    font-family: "Manrope", -apple-system, BlinkMacSystemFont, "Segoe UI",
        Roboto, Oxygen, Ubuntu, Cantarell, "Open Sans", "Helvetica Neue",
        sans-serif;
    margin: 0;
    padding: 0;
}

body {
    background: radial-gradient(
        92.85% 183.61% at 9.65% 13.18%,
        #0015bc 0%,
        hsl(0, 100%, 50%) 100%
    );
    display: flex;
    flex-direction: column;
    justify-content: start;
    align-items: center;
}

.mainContainer {
    width: 100%;
    height: 90vh;
    display: flex;
    flex-direction: column;
    justify-content: start;
    align-items: center;
    overflow: hidden;
}

.jumbotron {
    flex-grow: 1;
    width: 95%;
    display: flex;
    justify-content: center;
    align-items: center;
}

#submit {
    background-color: #0015bc;
    color: white;
    border: none;
    outline: none;
    padding: 10px;
    font-weight: 700;
    border-radius: 5px;
    font-family: "Manrope", -apple-system, BlinkMacSystemFont, "Segoe UI",
        Roboto, Oxygen, Ubuntu, Cantarell, "Open Sans", "Helvetica Neue",
        sans-serif;
}

#reset {
    background-color: #0015bc;
    color: white;
    border: none;
    outline: none;
    padding: 10px;
    font-weight: 700;
    border-radius: 5px;
    font-family: "Manrope", -apple-system, BlinkMacSystemFont, "Segoe UI",
        Roboto, Oxygen, Ubuntu, Cantarell, "Open Sans", "Helvetica Neue",
        sans-serif;
    transition: opacity ease-in-out 0.15s;
}

#submit:hover,
#reset:hover {
    opacity: 0.75;
    cursor: pointer;
}
