.hideOverflow {
    overflow-y: hidden !important;
}

.showMenu {
    left: 0 !important;
}

#mobileMenu {
    position: absolute;
    display: flex;
    width: 100vw;
    height: 100vh;
    left: 100vw;
    background-color: white;
    transition: all ease-in-out 0.2s;
}

#menuIcon {
    margin: 0;
    width: 60px;
    height: 45px;
    position: relative;
    -webkit-transform: rotate(0deg);
    -moz-transform: rotate(0deg);
    -o-transform: rotate(0deg);
    transform: rotate(0deg);
    -webkit-transition: 0.5s ease-in-out;
    -moz-transition: 0.5s ease-in-out;
    -o-transition: 0.5s ease-in-out;
    transition: 0.5s ease-in-out;
    cursor: pointer;
}

.open span {
    background: black !important;
}

#menuIcon span {
    display: block;
    position: absolute;
    height: 9px;
    width: 100%;
    background: white;
    border-radius: 9px;
    opacity: 1;
    left: 0;
    -webkit-transform: rotate(0deg);
    -moz-transform: rotate(0deg);
    -o-transform: rotate(0deg);
    transform: rotate(0deg);
    -webkit-transition: 0.25s ease-in-out;
    -moz-transition: 0.25s ease-in-out;
    -o-transition: 0.25s ease-in-out;
    transition: 0.25s ease-in-out;
}

#menuIcon span:nth-child(1) {
    top: 0px;
    -webkit-transform-origin: left center;
    -moz-transform-origin: left center;
    -o-transform-origin: left center;
    transform-origin: left center;
}

#menuIcon span:nth-child(2) {
    top: 18px;
    -webkit-transform-origin: left center;
    -moz-transform-origin: left center;
    -o-transform-origin: left center;
    transform-origin: left center;
}

#menuIcon span:nth-child(3) {
    top: 36px;
    -webkit-transform-origin: left center;
    -moz-transform-origin: left center;
    -o-transform-origin: left center;
    transform-origin: left center;
}

#menuIcon.open span:nth-child(1) {
    -webkit-transform: rotate(45deg);
    -moz-transform: rotate(45deg);
    -o-transform: rotate(45deg);
    transform: rotate(45deg);
    top: -3px;
    left: 8px;
}

#menuIcon.open span:nth-child(2) {
    width: 0%;
    opacity: 0;
}

#menuIcon.open span:nth-child(3) {
    -webkit-transform: rotate(-45deg);
    -moz-transform: rotate(-45deg);
    -o-transform: rotate(-45deg);
    transform: rotate(-45deg);
    top: 39px;
    left: 8px;
}

.navbar {
    width: 95%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 115px;
    margin-top: 15px;
}

.navlinks {
    display: flex;
    color: white;
    font-size: 23px;
    font-weight: 800;
}

.navlinks a {
    color: white;
    text-decoration: none;
    transition: opacity ease-in-out 0.15s;
}

.navlinks a:hover {
    opacity: 0.7;
}

.navlinks a:not(:last-child) {
    margin-right: 15px;
}

#Footer {
    margin: 50px 0 20px 0;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 90%;
    color: white;
}

#Footer h4 {
    margin: 0;
}

#Footer div {
    display: flex;
    justify-content: center;
}

#Footer p {
    margin: 5px 0 5px 0;
}

#Footer div p {
    font-size: 20px;
    font-weight: 800;
    margin: 0 15px 0 15px;
}
